body {
  color: $white;
  margin: 0;
  background: $black;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: $font-family-base;
  font-style: normal;

  main {
    section {
      padding: 4rem 0;

      .section-content {
        padding: 4rem;
        text-align: center;
      }

      &:nth-child(even) {
        background-color: $yellow-050;

        h2 {
          font-size: 2rem;
          color: $green-700;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.2rem;
          color: $green-500;
          line-height: 1.6;
        }
      }

      &:nth-child(odd) {
        background-color: $green-700;

        h2 {
          font-size: 2rem;
          color: $yellow-050;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.2rem;
          color: $yellow-100;
          line-height: 1.6;
        }
      }
    }
  }
}

/* Footer */
footer {
  padding: 2rem;
  background-color: $green-700;
  text-align: center;
}

@media screen and (max-width: 768px) {
  main {
    .section-content {
      padding: 2rem !important;
    }
  }
}
