/**
 * Here things global has all the pages of the site
 */




/*---Main body style---*/
body{
    width: 100 vw;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
main article{
    max-width: 60vw;
}

/*---Footer---*/
footer{
    display: flex;
    justify-content: space-evenly;

    border-top: 1px solid grey;
}


/*---Classic tags---*/
h1, h2, h3{
    color: #262626;
}
h1{
    text-align: center;
}
p{
    margin: 5px 0 5px 0;
}
a{
    color: black;
    text-decoration-color: black;
}
a:hover{
    transition-duration: 0.7s;/*LE SAINT GRAAL DU CSS tu va kiffer ;p*/
    color: rgb(109, 32, 32);
    text-decoration-color: rgb(109, 32, 32);
}

/*---Class for layout---*/
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.code{
    font-family: cursive;
}
.text-center{
    display: flex;
    justify-content: center;
}
.text-left{
    float: left;
}
.text-right{
    float: right;
}