/* Body */

body{
    width: 100 vw;
    height: 100 vh;
}

main{
    display: flex;
    justify-content: center;
}

main article{
    flex-direction: column;
}

main article div {
    width: 60%;
}