/* Body */

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}

main article {
    flex-direction: column;
}

main article div {
    width: 60%;
}

.bloc-presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1.5rem;
}

.bloc-presentation img {
    width: 80%;
    height: auto;
    vertical-align: middle;
}

@media screen and (max-width: 640px) {
    .bloc-presentation {
        flex-wrap: wrap;
    }
    .bloc-presentation img {
        width: 40%;
    }
}